asgiref
boto3
botocore
certifi
charset-normalizer
Django
django-admin-honeypot
django-admin-thumbnails
django-session-timeout
django-storages
idna
jmespath
Pillow
python-dateutil
python-decouple
pytz
requests
s3transfer
six
sqlparse
typing_extensions
tzdata
urllib3
