asgiref
psycopg[binary]>=3.2.3
certifi
charset-normalizer
Django==5.2.7
django-admin-thumbnails==1.0.0
django-ckeditor==6.7.3
django-js-asset==3.1.2
django-session-timeout
gunicorn==23.0.0
python-dateutil
python-decouple
pytz
requests
sqlparse
typing_extensions
tzdata
urllib3
Pillow
