{% autoescape off %}

Hola {{user.first_name}}, 
Gracias por registrarte en la plataforma web de Neosuar. Para completar el proceso de creación de tu cuenta, necesitamos que verifiques tu dirección de correo electrónico.

Por favor, haz clic en el siguiente enlace para verificar tu cuenta:

http://{{domain}}{% url 'activate' uidb64=uid token=token %}

Si no solicitaste esta verificación, por favor ignora este correo.

¡Gracias por ser parte de Neosuar!

Saludos,
El equipo de Neosuar

{% endautoescape %}