{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="py-8 bg-gray-100">
    {% include 'includes/alerts.html' %}

    <div class="container mx-auto">
        <div class="flex flex-wrap -mx-4">
            {% include 'includes/dashboard_sidebar.html' %}

            <main class="w-full md:w-3/4 px-4">
                <article class="bg-white shadow-md rounded-lg">
                    <header class="px-6 py-4 border-b">
                        <h2 class="text-xl font-semibold">Cambiar Password</h2>
                    </header>
                    <div class="px-6 py-4">

                        <form action="{% url 'change_password' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="mb-4">
                                <label class="block text-gray-700 mb-2">Password Actual</label>
                                <input type="password" name="current_password" placeholder="Password Actual" class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-300" required>
                            </div>

                            <div class="mb-4">
                                <label class="block text-gray-700 mb-2">Crear nuevo password</label>
                                <input type="password" name="new_password" placeholder="Nuevo Password" class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-300" required>
                            </div>

                            <div class="mb-4">
                                <label class="block text-gray-700 mb-2">Confirmar nuevo password</label>
                                <input type="password" name="confirm_password" placeholder="Confirmar Nuevo Password" class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-300" required>
                            </div>

                            <div>
                                <input type="submit" value="Actualizar" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 cursor-pointer">
                            </div>
                        </form>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
