# Container Commands
container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from accounts.models import Account; Account.objects.create_superuser('Dev', 'LaCruz', 'alejantony.22@hotmail.com', 'DevLaCruz', 'pas$b0631ñ45&word')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: TiendaSuarez.settings